# ⬅️ このファイルに機密情報を書き、ansible-vault encrypt vars/secrets.yml で暗号化する
---
my_secret_email_variable: "example@example.com"
my_github_token: "ghp_xxxxxxxxxxxxxxxxxxxx"
my_aws_secret_key: "AKIAYYYYYYYYYYYYYYYY"